html
	head
		link(rel="stylesheet" type="text/css" href="./style.css")
		title لعبة البطاطس2
body
	img(id='coins' src='coin-icon.gif')
	span(id='coin-count') 0
	canvas(id='potatoHitBox')
	button(id='logout-button') تسجيل خروجك
	script(src='/game.js')