html
	head
		link(rel="stylesheet" type="text/css" href="./style.css")
		title لعبة البطاطس2
body(id='gameBackground' onload='init()')
	img(id='coins' src='coin-icon.gif')
	span(id='coin-count') 0
	canvas(id='potatoHitBox')
	button(id='logout-button') #{username} تسجيل الخروج من 
	img(id='tutorial' src='tutorial.png')
	div(id='leaderboard-div')
		img(id='leaderboard' src='leaderboard.png')
		div(id='leaderboard-text')
			each user in listOfUsers
				br
				h1 #{user.username} #{user.Score}
				br
	script(src='/game.js')