html
	head
		link(rel="stylesheet" type="text/css" href="./style.css")
		title لعبة البطاطس2
body(id='gameBackground' onload='init()')
	img(id='coins' src='coin-icon.gif')
	span(id='coin-count') N/A
	h1(id='rank') #{rank} مرتبتك في العالم
	a(href='/leaderboard' id='rank') إضغط لإظهار افضل 5 لاعبين
	button(id='logout-button') #{username} تسجيل الخروج من 
	div(id='box')
		canvas(id='potatoHitBox')
	img(id='tutorial' src='tutorial.png')
	script(src='/game.js')