html
	head
		link(rel="stylesheet" type="text/css" href="./style.css")
		title لعبة البطاطس2
body
	div(class='alert')
		span#alertMsg
	div#potatos
		canvas(id='potato1')
		canvas(id='potato2')
		canvas(id='potato3')
		canvas(id='potato4')
	button(id='login') تسجيل دخول
	button(id='register') حساب جديد
	div(id='login-box')
		br
		input(id='name-login')
		label  اسمك 
		br
		input(id='password-login' type='password')
		label  باسووردك 
		br
		input(type='checkbox' id='check-pass')
		| إظهار الباسوورد
		br
		button(id='login-button') دخول
	div(id='register-box')
		br
		input(id='name-register')
		label  اسمك 
		br
		input(id='password-register' type='password')
		label  باسووردك 
		br
		input(type='checkbox' id='check-pass')
		| إظهار الباسوورد
		br
		button(id='register-button') انشاء حساب
	script(src='/client-auth.js')