html
	head
		link(rel="stylesheet" type="text/css" href="./style.css")
		title لعبة البطاطس2
body(id='gameBackground')
	img(src='/potatoClick.gif')
	button(id='default-choice') إختيار
	img(src='/potatoClickTeto.gif')
	a Ghost Skin
	button(id='test-buy') شراء
	script(src='/store.js')