html
	head
		link(rel="stylesheet" type="text/css" href="./style.css")
		title لعبة البطاطس2
body(id='gameBackground' onload='init()')
	div
		a(href='/game' id='leaderboard-butt') أضغط للإنتقال للعبة
	div(id='defaultSkin')
		img(src='/potatoClick.gif')
		h1 Default Skin
		button(id='default-choice') إختيار
	br
	div(id='ghostSkin')
		img(src='/potatoClickTeto.gif')
		h1 Ghost Skin
		if skins.includes("/potatoClickTeto.gif")
			button(id='ghost-choice') إختيار
		else
			button(id='ghost-buy') شراء بـ 10,000 كتشب
	div(id='bakedSkin')
		img(src='/potatoClickBaked.gif')
		h1 Baked Skin
		if skins.includes("/potatoClickBaked.gif")
			button(id='baked-choice') إختيار
		else
			button(id='baked-buy') شراء بـ 30,000 كتشب
	script(src='/store.js')