html
	head
		link(rel="stylesheet" type="text/css" href="./style.css")
		title لعبة البطاطس2
body(id='gameBackground')
	div(id='defaultSkin')
		img(src='/potatoClick.gif')
		h1 Default Skin
		button(id='default-choice') إختيار
	br
	div(id='ghostSkin')
		img(src='/potatoClickTeto.gif')
		h1 Ghost Skin
		each skin in skins:
			if skin === '/potatoClickTeto.gif'
				button(id='ghost-choice' style='display: none;') إختيار
			else
				button(id='ghost-buy') شراء بـ 10 بطاطسة
	script(src='/store.js')