@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

#coin{
    position: absolute;
    top: 8px;
    left: 16px;
    width:  50%;
    height:  50%;
}


#box{
    position: relative;
    width: 1270px;
    height: 950px;
    background:#CCC;
    background-color: #f44336;
}

#coin-icon{
    vertical-align: middle;
    width: 75px;
}

#coin-count{
    font-size: 30px;
    font-family: 'Rakkas', cursive;

}

#potatoHitBox{
    border-radius:25px;
    position: absolute;
    display: block;
    width: 220px;
    transition: all 0.1s;
}

#login-box, #register-box{
    font-family: 'Rakkas', cursive;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:300px;
    font-size: 25px;
}

#login{
    font-family: 'Rakkas', cursive;
    border-radius: 30%;
    position: absolute;
    bottom: 70%;
    right: 49%;
    background: blanchedalmond;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    font-size: 45px;
}

#register{
    font-family: 'Rakkas', cursive;
    border-radius: 30%;
    position: absolute;
    bottom: 70%;
    right: 30%;
    background: blanchedalmond;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    font-size: 45px;
}
#login:hover, #register:hover {
    text-align: center;
    background: cornsilk;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
}

#potatoHitBox:hover {
    cursor: url('knife-cursor.png'), auto;
    opacity: 1;
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

#register-button, #login-button{
    font-family: 'Rakkas', cursive;
    background: whitesmoke;
    position: absolute;
    text-align: center;
    width: 400px;
    font-size: 40px;
}

#potatoHitBox{
    animation: idle 1s;
    animation-iteration-count: infinite;
}
@keyframes idle {
    10% { transform: translate(1px, 0px) }
    20% { transform: translate(1px, 1px) }
    30% { transform: translate(1px, 2px) }
    40% { transform: translate(1px, 3px) }
    50% { transform: translate(1px, 4px) }
    60% { transform: translate(1px, 5px) }
    70% { transform: translate(1px, 7px) }
}

.alert {
    padding: 20px;
    font-family: 'Rakkas', cursive;
    background-color: #f44336;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: -160px;
}

#potatos{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    background-color: blanchedalmond;
}

#potato1, #potato2, #potato3, #potato4{
    width: 160px;
    margin: 9%;
    opacity: 70%;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotate;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#gameBackground{
    background-color: blanchedalmond;
}


@keyframes shake {
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#logout-button{
    font-family: 'Rakkas', cursive;
    background: whitesmoke;
    position: absolute;
    width: auto;
    font-size: 40px;
    right: 10%;
    float: right;
}

#tutorial {
    position: absolute;
    margin: 25px;
    right: 3%;
    bottom: 5%;
}

#leaderboard {
    position: absolute;
    margin: 25px;
    right: 3%;
    bottom: 5%;
}
#leaderboard-div{
    margin: 25px;
    right: 3%;
    bottom: 5%;
}
#leaderboard-text{
    font-family: 'Rakkas', cursive;
    position: absolute;
    font-size: 30px;
    color: aliceblue;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}